<% unless current_user == nil %>
  <div class="datasetsKey">
    <a href="#"><h2 class='dataset'>+ Datasets</h2></a>
    <a href="#"><h2 class='help'>Confused ?</h2></a>
  </div>
  
  <div class='helpOverlay'>
    <button class='closeOverlay'>X</button>
    <img src="<%= asset_path 'landing.png' %>">
  </div>

  <div class="matrixContainer">
    <h2 class='matrixTitle'>Your Life</h2>
    <h3 class='percent'><%= @percent %>% lived</h3>
  <!-- this gives me full age -->
    <% (@user.age).times do |year| %>
      <div id="year<%= year %>" class="year">

        <% 52.times do |week| %>

          <% id = (week+1) + (year*52)%>
          <% isMilestone = false %>

          <% if @arrayMilestones.length != 0 %>

            <% @arrayMilestones.length.times do |milestoneId| %>

              <% if @arrayMilestones[milestoneId] == id %>
                <div id="week<%= id %>" class="week lived personal"></div>
                <% isMilestone = true %>
                <% break %>
              <% end %>

            <% end %>

          <% else %>
            <div id="week<%= id %>" class="week lived"></div>
          <% end %>

          <% if isMilestone == false && @arrayMilestones.length != 0 %>
            <div id="week<%= id %>" class="week lived"></div>
          <% end %>

        <% end %>

      </div>
    <% end %>

    <div id="year<%= @user.age %>" class="year">

      <% @leftOverWeeksLived.times do |left| %>
          <% id = (left+1) + ((@user.age)*52)%>    
          <% isMilestone = false %>

          <% if @arrayMilestones.length != 0 %>

            <% @arrayMilestones.length.times do |milestoneId| %>

              <% if @arrayMilestones[milestoneId] == id %>
                <div id="week<%= id %>" class="week lived personal"></div>
                <% isMilestone = true %>
                <% break %>
              <% end %>

            <% end %>

          <% else %>
            <div id="week<%= id %>" class="week lived"></div>
          <% end %>

          <% if isMilestone == false && @arrayMilestones.length != 0 %>
            <div id="week<%= id %>" class="week lived"></div>
          <% end %>

      <% end %>

      <!-- fill in the rest of the current year -->
      <% (52-@leftOverWeeksLived).times do |left| %>
          <% id = (left+1+@leftOverWeeksLived) + ((@user.age)*52) %>
          <% isMilestone = false %>

          <% if @arrayMilestones.length != 0 %>

            <% @arrayMilestones.length.times do |milestoneId| %>

              <% if @arrayMilestones[milestoneId] == id %>
                <div id="week<%= id %>" class="week personal"></div>
                <% isMilestone = true %>
                <% break %>
              <% end %>

            <% end %>

          <% else %>
            <div id="week<%= id %>" class="week"></div>
          <% end %>

          <% if isMilestone == false && @arrayMilestones.length != 0 %>
            <div id="week<%= id %>" class="week"></div>
          <% end %>
  
      <% end %>

    </div>

    <% (@user.total_life-@user.age-1).times do |year| %>
      <div id="year<%= @user.age+1 + year %>" class="year">

        <% 52.times do |week| %>
          <% id = (week+1) + (year*52) + ((@user.age+1)*52) %>
          <% isMilestone = false %>

          <% if @arrayMilestones.length != 0 %>

            <% @arrayMilestones.length.times do |milestoneId| %>

              <% if @arrayMilestones[milestoneId] == id %>
                <div id="week<%= id %>" class="week personal"></div>
                <% isMilestone = true %>
                <% break %>
              <% end %>

            <% end %>

          <% else %>
            <div id="week<%= id %>" class="week"></div>
          <% end %>

          <% if isMilestone == false && @arrayMilestones.length != 0 %>
            <div id="week<%= id %>" class="week"></div>
          <% end %>

        <% end %>

      </div>
    <% end %>

  </div>

<% else %>  
  <div class='guestForm'>
    <!-- ask to create a guest user -->
    <%= form_for @guest, url: "/guest", method: "post" do |f| %>

      <div class="field">
        <%= f.label "How old are you?" %><br>
        <%= f.number_field :age, within: 1...117 %>
      </div>
      <%= f.submit "I'm ready to see how long I have left to live"%>
    <% end %> 
  </div>
<% end %>

<!-- might have issues with older than average death age -->











