<h1>Main#index</h1>
<p>Find me in app/views/main/index.html.erb</p>

<% if current_user %>
  <h1><%= @user.username %> is logged in </h1>
<% else %>
  <h1>No one logged in</h1>
<% end %>
<div><%= @arrayMilestones %></div>

<h2 class='result'>Nothing yet</h2>
<% unless current_user == nil %>
  <div class="matrixContainer">
  <!-- this gives me full age -->
    <% (@user.age).times do |year| %>
      <div id="year<%= year %>" class="year">

        <% 52.times do |week| %>

          <% id = (week+1) + (year*52)%>
          <% if @arrayMilestones.length != 0 %>

            <% @arrayMilestones.length.times do |milestoneId| %>

              <% if @arrayMilestones[milestoneId] == id %>
                <div id="week<%= id %>" class="week lived personal"></div>
              <% else %>
                <div id="week<%= id %>" class="week lived"></div>
              <% end %>

            <% end %>

          <% else %>
            <div id="week<%= id %>" class="week lived"></div>
          <% end %>
          
        <% end %>

      </div>
    <% end %>

    <div id="year<%= @user.age %>" class="year">

      <% @leftOverWeeksLived.times do |left| %>
          <% id = (left+1) + ((@user.age)*52)%>      
          <div id="week<%= id %>" class="week lived"></div>
      <% end %>

      <% (52-@leftOverWeeksLived).times do |left| %>
          <% id = (left+1+@leftOverWeeksLived) + ((@user.age)*52) %>
          <div id="week<%= id %>" class="week"></div>
      <% end %>

    </div>

    <% (@user.total_life-@user.age-1).times do |year| %>
      <div id="year<%= @user.age+1 + year %>" class="year">

        <% 52.times do |week| %>
          <% id = (week+1) + (year*52) + ((@user.age+1)*52) %>
          <div id="week<%= id %>" class="week"></div>
        <% end %>

      </div>
    <% end %>

  </div>
<% end %>

<!-- might have issues with older than average death age -->



