<p id="notice"><%= notice %></p>

<h1>Show by Week Milestones</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Note</th>
      <th>Year</th>
      <th>Week</th>
      <th>Owner</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @milestones.each do |milestone| %>
      <tr>
        <td><%= milestone.title %></td>
        <td><%= milestone.note %></td>
        <td><%= milestone.year %></td>
        <td><%= milestone.week %></td>
        <td><%= milestone.user_id %></td>
        <td><%= link_to 'Edit', edit_milestone_path(milestone.id) %></td>
        <td><%= link_to 'Destroy', milestone_path(milestone.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

