<h1>Editing User</h1>

<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.email_field :email %>
  </div>
  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :gender %><br>
    <%= f.select :gender, [["Male", "Male"], ["Female", "Female"], ["Other", "Both sexes"]], {:prompt => 'Select Gender'} %>
  </div>   
  <div class="field">
    <%= f.label "Birthday" %><br>
    <%= f.date_select :birthdate, :end_year => Date.current.year %>
  </div>  
  <div class="field">
    <%= f.label :country %><br>
    <%= f.collection_select :country, @countries, :to_s, :to_s, {:selected => current_user.country} %>
  </div>

  <div>Password Change Optional</div>

  <div class="field">
    <%= f.label :Password %><br>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label "Password Confirmation" %><br>
    <%= f.password_field :password_confirmation%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
